{% extends "ServiceMarketplaceWebBundle::layout.html.twig" %}


{% block title_page %}
    Task
    <small>
    	<i class="ace-icon fa fa-angle-double-right"></i>
    	item processing overview
    </small>
{% endblock %}

{% block content %}
{% include 'ServiceMarketplaceWebBundle::flash.html.twig' with {'close': true } %}
<div class="row">
	<div class="col-xs-12">
		<table id="sample-table-1" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th class="center">
						<label class="position-relative">
							<input type="checkbox" class="ace" />
							<span class="lbl"></span>
						</label>
					</th>
					<th>Task</th>
					<th>Status</th>
				</tr>
			</thead>

			<tbody>
			    {% for item in items %}
				<tr>
					<td class="center">
						<label class="position-relative">
							<input type="checkbox" class="ace" />
							<span class="lbl"></span>
						</label>
					</td>

					<td>
						{{ item.name }}
					</td>
					<td>
						{{ item.status }}
					</td>

				</tr>
				{% endfor %}
			
			</tbody>
		</table>
	</div><!-- /.span -->
</div><!-- /.row -->
{% endblock %}