				
<a data-toggle="dropdown" class="dropdown-toggle" href="#">
	<i class="ace-icon fa fa-tasks"></i>
	<span class="badge badge-grey">{{ items|length }}</span>
</a>

<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
	<li class="dropdown-header">
		<i class="ace-icon fa fa-check"></i>
		{{ items|length }} Tasks is processing
	</li>

	<li>
	    {% for item in items %}
		<a href="#">
			<div class="clearfix">
				<span class="pull-left">{{ item.name }}</span>
				<span class="pull-right">
				    {% if item.status == 'processing' %}
				        <i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>
				    {% elseif item.status == 'error' %}
				        <i class="ace-icon fa fa-flag red bigger-125"></i>
				    {% endif %}
				    {{ item.status }}
				</span>
			</div>
		</a>
		{% endfor %}
	</li>

	<li class="dropdown-footer">
		<a href="{{ url('service_marketplace_web_solution_item_task_processing') }}">
			See tasks with details
			<i class="ace-icon fa fa-arrow-right"></i>
		</a>
	</li>
</ul>