{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasRoute('sync') and admin.isGranted('CREATE')%}
    {% if admin.subClasses is empty %}
        <a class="sonata-action-element" href="{{ admin.generateUrl('sync') }}">
            <i class="fa fa-plus-circle"></i>
            Sync</a>
    {% endif %}
{% endif %}
