<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="bootstrap-admin-login-form">
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-lg btn-primary" type="submit">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</form>
