{% extends "ServiceMarketplaceWebBundle::external_layout.html.twig" %}

{% block content %}
<div id="signup-box" class="signup-box visible widget-box no-border">
	<div class="widget-body">
		<div class="widget-main">
			<h4 class="header green lighter bigger">
				<i class="ace-icon fa fa-users blue"></i>
				New User Registration
			</h4>

			<div class="space-6"></div>
			<p> Enter your details to begin: </p>

			{% include "FOSUserBundle:Registration:register_content.html.twig" %}
		</div>

		<div class="toolbar center">
			<a href="{{ url('fos_user_security_login') }}" class="back-to-login-link">
				<i class="ace-icon fa fa-arrow-left"></i>
				Back to login
			</a>
		</div>
	</div><!-- /.widget-body -->
</div>
{% endblock content %}