<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{% block title %}Login Page - Ace Admin{% endblock %}</title>

		<meta name="description" content="User login page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<!-- Bootstrap -->
        {% block stylesheets %}
            {% stylesheets output='assets/compiled/frontend.css' filter='cssrewrite'
                           'bundles/servicemarketplaceweb/css/bootstrap.min.css'
                           'bundles/servicemarketplaceweb/css/font-awesome.min.css'
                           'bundles/servicemarketplaceweb/css/ace-fonts.css'
                           'bundles/servicemarketplaceweb/css/ace.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        
        {% block javascripts %}
        {% endblock %}
        	
	
    </head>
    
    {% block body %}
    {% endblock %}

</html>
