{% extends "ServiceMarketplaceWebBundle::base_layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
                output='assets/compiled/frontend.css' filter='cssrewrite'
               'bundles/servicemarketplaceweb/css/ace-rtl.css'
               'bundles/servicemarketplaceweb/css/ace.onpage-help.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block body %}

	<body class="login-layout light-login">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<i class="ace-icon fa fa-cloud blue"></i>
									<span class="blue">Petit</span>
									<span class="grey" id="id-text2">Nuage</span>
								</h1>
								<h4 class="light-blue" id="id-company-text">&copy; <a class="light-blue" href="http://buill.it">Buill.it</a></h4>
							</div>

							<div class="space-6"></div>
							<div class="position-relative">
                                {% block content %}
                                <div id="signup-box" class="signup-box visible widget-box no-border">
                                	<div class="widget-body">
                                		<div class="widget-main">
                                		    {% block fos_user_content %}
                                            
                                            {% endblock fos_user_content %}
                            			</div><!-- /.widget-body -->
                                    </div>
                                {% endblock %}
							</div><!-- /.position-relative -->
                        </div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
		
		<!--[if !IE]> -->
		{% javascripts '@ServiceMarketplaceWebBundle/Resources/public/js/jquery.min.js' %}
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{ asset_url }}'>"+"<"+"/script>");
		</script>
        {% endjavascripts %}
		<!-- <![endif]-->

		<!--[if IE]>
		{% javascripts '@ServiceMarketplaceWebBundle/Resources/public/js/jquery1x.min.js' %}
        <script type="text/javascript">
         window.jQuery || document.write("<script src='{{ asset_url }}'>"+"<"+"/script>");
        </script>
        {% endjavascripts %}
        <![endif]-->
        
        {% javascripts '@ServiceMarketplaceWebBundle/Resources/public/js/jquery.mobile.custom.min.js' %}
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{{ asset_url }}'>"+"<"+"/script>");
		</script>
        {% endjavascripts %}
        
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
			 $(document).on('click', '.toolbar a[data-target]', function(e) {
				e.preventDefault();
				var target = $(this).data('target');
				$('.widget-box.visible').removeClass('visible');//hide others
				$(target).addClass('visible');//show target
			 });
			});
		</script>
	</body>
    

{% endblock %}