{% if translation_domain is not defined %}
    {% set translation_domain = null %}
{% endif %}
{% if close is not defined %}
    {% set close = false %}
{% endif %}

{% for flashMessage in app.session.flashbag.get('alert') %}
<div class="alert alert-block alert-warning">
	{% if close %}<button type="button" class="close" data-dismiss="alert">
		<i class="ace-icon fa fa-times"></i>
	</button>{% endif %}

	<i class="ace-icon fa fa-check green"></i>

	{{ flashMessage|trans({}, translation_domain) }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<div class="alert alert-block alert-error">
	{% if close %}<button type="button" class="close" data-dismiss="alert">
		<i class="ace-icon fa fa-times"></i>
	</button>{% endif %}

	<i class="ace-icon fa fa-check green"></i>

	{{ flashMessage|trans({}, translation_domain) }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="alert alert-block alert-success">
	{% if close %}<button type="button" class="close" data-dismiss="alert">
		<i class="ace-icon fa fa-times"></i>
	</button>{% endif %}

	<i class="ace-icon fa fa-check green"></i>

	{{ flashMessage|trans({}, translation_domain) }}
</div>
{% endfor %}

