    {% block footer %}
		<div class="footer">
			<div class="footer-inner">
				<!-- #section:basics/footer -->
				<div class="footer-content">
					<span class="bigger-120">
						<span class="blue bolder">Petit</span>
						Nuage &copy; 2014
					</span>
				</div>

				<!-- /section:basics/footer -->
			</div>
		</div>
	{% endblock %}