{% extends "ServiceMarketplaceWebBundle::base_layout.html.twig" %}

{% block title %}PetitNuage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
                output='assets/compiled/frontend.css' filter='cssrewrite'
               'bundles/servicemarketplaceweb/css/ace-skins.css' 
               'bundles/servicemarketplaceweb/css/ace-rtl.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@ServiceMarketplaceWebBundle/Resources/public/js/ace-extra.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}



	<body class="no-skin">
		<!-- #section:basics/navbar.layout -->
		<div id="navbar" class="navbar navbar-default">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<!-- #section:basics/sidebar.mobile.toggle -->
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<!-- /section:basics/sidebar.mobile.toggle -->
				<div class="navbar-header pull-left">
					<!-- #section:basics/navbar.layout.brand -->
					<a href="#" class="navbar-brand">
						<small>
							<i class="fa fa-cloud"></i>
							PetitNuage (beta)
						</small>
					</a>

					<!-- /section:basics/navbar.layout.brand -->

					<!-- #section:basics/navbar.toggle -->

					<!-- /section:basics/navbar.toggle -->
				</div>

				{% include "ServiceMarketplaceWebBundle::navigation.html.twig" %}
			</div><!-- /.navbar-container -->
		</div>

		<!-- /section:basics/navbar.layout -->
		
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			{% include "ServiceMarketplaceWebBundle::sidebar.html.twig" %}
			
			<div class="main-content">
				
				<div class="page-content">
				    
					{% include "ServiceMarketplaceWebBundle::setting_box.html.twig" %}
					
					
					<div class="page-content-area">
						<div class="page-header">
							<h1>
                                {% block title_page %}
                                    Blank
                                {% endblock %}
							</h1>
						</div><!-- /.page-header -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
                                {% block content %}
                                
                                {% endblock %}
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content-area -->
				</div><!-- /.page-content -->
			</div><!-- /.main-content -->

        	<!-- footer -->
            {% include "ServiceMarketplaceWebBundle::footer.html.twig" %}

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		{% javascripts '@ServiceMarketplaceWebBundle/Resources/public/js/jquery.min.js' %}
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{ asset_url }}'>"+"<"+"/script>");
		</script>
        {% endjavascripts %}
		<!-- <![endif]-->

		<!-- <![endif]-->

		<!--[if IE]>
		{% javascripts '@ServiceMarketplaceWebBundle/Resources/public/js/jquery1x.min.js' %}
        <script type="text/javascript">
         window.jQuery || document.write("<script src='{{ asset_url }}'>"+"<"+"/script>");
        </script>
        {% endjavascripts %}
        <![endif]-->
        
        {% javascripts '@ServiceMarketplaceWebBundle/Resources/public/js/jquery.mobile.custom.min.js' %}
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{{ asset_url }}'>"+"<"+"/script>");
		</script>
        {% endjavascripts %}
        
        
        {% javascripts '@ServiceMarketplaceWebBundle/Resources/public/js/bootstrap.min.js'
                       '@ServiceMarketplaceWebBundle/Resources/public/js/ace-elements.js'
                       '@ServiceMarketplaceWebBundle/Resources/public/js/ace.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
	</body>


{% endblock %}