
{% block navigation %}


<!-- #section:basics/navbar.dropdown -->
<div class="navbar-buttons navbar-header pull-right" role="navigation">
	<ul class="nav ace-nav">
	    <li class="red">
			{{ render(controller('ServiceMarketplaceWebBundle:Credit:widgetCredit')) }}
		</li>
	
		<li class="grey">
			{{ render(controller('ServiceMarketplaceWebBundle:Solution:widgetListProcessingAndCompleteItem', { 'limit': 10 })) }}
		</li>
		

		<!-- #section:basics/navbar.user_menu -->
		<li class="light-blue">
			<a data-toggle="dropdown" href="#" class="dropdown-toggle">
				<img class="nav-user-photo" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTSDN9mEziKury2AE2HJuH2zfXAbSF7HhMT67-CEhw0Hmzvm7uNdQ" alt="Jason's Photo" />
				<span class="user-info">
					<small>Welcome,</small>
					{{ app.user.username }}
				</span>

				<i class="ace-icon fa fa-caret-down"></i>
			</a>

			<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

				<li>
					<a href="#">
						<i class="ace-icon fa fa-comment"></i>
						{{ 'marketplace.frontend.menu.ask_questions'|trans }}
					</a>
				</li>
				
			    <li>
					<a href="#">
						<i class="ace-icon fa fa-lightbulb-o"></i>
						{{ 'marketplace.frontend.menu.feedback'|trans }}
					</a>
				</li>

				<li>
					<a href="{{ url('fos_user_profile_show') }}">
						<i class="ace-icon fa fa-user"></i>
						{{ 'marketplace.frontend.menu.my_profile'|trans }}
					</a>
				</li>

				<li class="divider"></li>

				<li>
					<a href="{{ url('fos_user_security_logout') }}">
						<i class="ace-icon fa fa-power-off"></i>
						{{ 'marketplace.frontend.menu.logout'|trans }}
					</a>
				</li>
			</ul>
		</li>

		<!-- /section:basics/navbar.user_menu -->
	</ul>
</div>

<!-- /section:basics/navbar.dropdown -->

{% endblock %}
    