
    {% block sidebar %}

    
    
  <!-- #section:basics/sidebar -->
			<div id="sidebar" class="sidebar responsive compact">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>
				<ul class="nav nav-list">
					<li{% if (app.request.get('_route') == 'service_marketplace_web_dashboard') %} class="active" {% endif %}>
						<a href="{{ path('service_marketplace_web_dashboard') }}">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> {{ 'marketplace.frontend.menu.dashboard'|trans }} </span>
						</a>

						<b class="arrow"></b>
					</li>
					<li{% if (app.request.get('_route') == 'service_marketplace_web_solution') %} class="active" {% endif %}>
						<a href="{{ path('service_marketplace_web_solution') }}">
							<i class="menu-icon fa fa-cubes"></i>
							<span class="menu-text"> {{ 'marketplace.frontend.menu.solution'|trans }} </span>
						</a>

						<b class="arrow"></b>
					</li>
					<li{% if (app.request.get('_route') == 'service_marketplace_web_shop') %} class="active" {% endif %}>
						<a href="{{ path('service_marketplace_web_shop') }}">
							<i class="menu-icon fa fa-shopping-cart"></i>
							<span class="menu-text"> {{ 'marketplace.frontend.menu.shop'|trans }} </span>
						</a>

						<b class="arrow"></b>
					</li>

					
				</ul><!-- /.nav-list -->

				<!-- #section:basics/sidebar.layout.minimize -->
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>

				<!-- /section:basics/sidebar.layout.minimize -->
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
			</div>

			<!-- /section:basics/sidebar -->

    {% endblock %}