{% extends "ServiceMarketplaceWebBundle::layout.html.twig" %}

{% block title_page %}
Dashboard
<small>
	<i class="ace-icon fa fa-angle-double-right"></i>
	overview &amp; stats
</small>
{% endblock %}


{% block content %}
	<div class="container">
		<!-- left, vertical navbar & content -->
		<div class="row">
			<!-- content -->
			<div class="col-md-12">

				{% include 'ServiceMarketplaceWebBundle::flash.html.twig' with {
				'close': true } %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="text-muted bootstrap-admin-box-title">Invoices</div>
                                <div class="pull-right"><span class="badge">{{ orders|length }}</span></div>
                            </div>
                            <div class="bootstrap-admin-panel-content">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Number</th>
                                            <th>Description</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                        <tr>
                                            <td>{{ order.number }}</td>
                                            <td>{{ order.description }}</td>
                                            <td>{{ order.totalAmount }}</td>
                                            <td>{{ order.status }}</td>
                                        </tr>
                                        {%  endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="text-muted bootstrap-admin-box-title">Items</div>
                                <div class="pull-right"><span class="badge">{{ items|length }}</span></div>
                            </div>
                            <div class="bootstrap-admin-panel-content">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>name</th>
                                            <th>endContract</th>
                                            <th>status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in items %}
                                        <tr>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.contract.endTime|date("m/d/Y") }}</td>
                                            <td>{{ item.status }}</td>
                                        </tr>
                                        {%  endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}