{% extends "ServiceMarketplaceWebBundle::external_layout.html.twig" %}

{% block content %}
<div id="login-box" class="login-box visible widget-box no-border">
	<div class="widget-body">
		<div class="widget-main">
			<h4 class="header blue lighter bigger">
				<i class="ace-icon fa fa-coffee green"></i>
				Please Enter Your Information
			</h4>

			<div class="space-6"></div>
            {% if error %}
            <div class="alert alert-info">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                    {{ error|trans({}, 'FOSUserBundle') }}
            </div>
            {% endif %}
			<form method="post" action="{{ path("fos_user_security_check") }}">
			    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				<fieldset>
					<label class="block clearfix">
						<span class="block input-icon input-icon-right">
							<input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" />
							<i class="ace-icon fa fa-user"></i>
						</span>
					</label>

					<label class="block clearfix">
						<span class="block input-icon input-icon-right">
							<input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" />
							<i class="ace-icon fa fa-lock"></i>
						</span>
					</label>

					<div class="space"></div>

					<div class="clearfix">
						<label class="inline">
							<input type="checkbox" name="remember_me" class="ace" />
							<span class="lbl"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</span>
						</label>

						<button type="submit" id="_submit" name="_submit" class="width-35 pull-right btn btn-sm btn-primary">
							<i class="ace-icon fa fa-key"></i>
							<span class="bigger-110">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</span>
						</button>
					</div>

					<div class="space-4"></div>
				</fieldset>
			</form>

		
		</div><!-- /.widget-main -->

		<div class="toolbar clearfix">
			<div>
				<a href="{{ url('fos_user_resetting_request') }}" class="forgot-password-link">
					<i class="ace-icon fa fa-arrow-left"></i>
					I forgot my password
				</a>
			</div>

			<div>
				<a href="{{ url('fos_user_registration_register') }}" class="user-signup-link">
					I want to register
					<i class="ace-icon fa fa-arrow-right"></i>
				</a>
			</div>
		</div>
	</div><!-- /.widget-body -->
</div><!-- /.login-box -->
{% endblock content %}

