{% extends "ServiceMarketplaceWebBundle::external_layout.html.twig" %}

{% block content %}
<div id="forgot-box" class="forgot-box visible widget-box no-border">
	<div class="widget-body">
		<div class="widget-main">
			<h4 class="header red lighter bigger">
				<i class="ace-icon fa fa-key"></i>
				Retrieve Password
			</h4>

			<div class="space-6"></div>

			{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
		</div><!-- /.widget-main -->

		<div class="toolbar center">
			<a href="{{ url('fos_user_security_login') }}" class="back-to-login-link">
				Back to login
				<i class="ace-icon fa fa-arrow-right"></i>
			</a>
		</div>
	</div><!-- /.widget-body -->
</div><!-- /.forgot-box -->
{% endblock %}
