{% extends "ServiceMarketplaceWebBundle::layout.html.twig" %}

{% block title_page %}
    {{ 'marketplace.frontend.menu.shop'|trans }}
    <small>
    	<i class="ace-icon fa fa-angle-double-right"></i>
    	overview
    </small>
{% endblock %}


{% block content %}
    {% include 'ServiceMarketplaceWebBundle::flash.html.twig' with {
    'close': true } %}
    
    {% for mainProductRow in products|batch(2) %}
    {% set index_temp = ((loop.index - 1) * 2) %}
    <div class="row">
        {% for product in mainProductRow %}
    	<div class="col-md-6">
    		<!-- #section:elements.tab -->
    		<div class="tabbable">
    			<ul class="nav nav-tabs" id="myTab">
    				<li class="active">
    					<a data-toggle="tab" href="#product{{ (index_temp + loop.index) }}">
    						<i class="green ace-icon fa fa-home bigger-120"></i>
    						{{ product.name }}
    					</a>
    				</li>
    
    				<li>
    					<a data-toggle="tab" href="#addons{{ (index_temp + loop.index) }}">
    						add-ons
    						<span class="badge badge-danger">{{ product.dependants|length }}</span>
    					</a>
    				</li>
    			</ul>
    
    			<div class="tab-content">
    				<div id="product{{ (index_temp + loop.index) }}" class="tab-pane fade in active">
        				<div class="row">
                            <div class="col-lg-12">
        					   {% include "ServiceMarketplaceWebBundle:shop:product_box.html.twig" %}
        					</div>
                        </div>
    				</div>
    
    				<div id="addons{{ (index_temp + loop.index) }}" class="tab-pane fade">
                        <div id="accordion" class="accordion-style1 panel-group">
                        {% set index_temp_dependant = (index_temp + loop.index) %}
        			    {% for depProduct in product.dependants %}
                        	<div class="panel panel-default">
                        		<div class="panel-heading">
                        			<h4 class="panel-title">
                        				<a class="accordion-toggle {% if loop.first != true %}collapsed{% endif %}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ index_temp_dependant }}-{{ loop.index }}">
                        					<i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                        					&nbsp;{{ depProduct.name }}
                        				</a>
                        			</h4>
                        		</div>
                        
                        		<div class="panel-collapse collapse {% if loop.first == true %}in{% endif %}" id="collapse{{ index_temp_dependant }}-{{ loop.index }}">
                        			<div class="panel-body">
                        				{% include "ServiceMarketplaceWebBundle:shop:product_box.html.twig" with {'product': depProduct} %}
                        			</div>
                        		</div>
                        	</div>
                        {% endfor %}
                        </div>
    				</div>
    			</div>
    		</div>
    
    		<!-- /section:elements.tab -->
    	</div><!-- /.col -->
    
    	<div class="vspace-6-sm"></div>
        {% endfor %}
    </div><!-- /.row -->
    <div class="space"></div>
    
    {% endfor %}

{% endblock %}
