
<h5>
	<a href="{{ url('service_marketplace_web_shop_product_view', {'id': product.id}) }}">{{ product.name }}</a>
</h5>
<!-- Para. Note more than 2 lines. -->
<p>{{ product.description }}</p>
<div class="item-price pull-left">{{ product.price }} <i class="ace-icon fa fa-money bigger-120"></i></div>
<div class="pull-right btn-group">
	<a href="{{ url('service_marketplace_web_shop_product_view', {'id': product.id}) }}" class="btn btn-app btn-blue btn-xs">
		<i class="ace-icon fa fa-search bigger-160"></i>
		Details
	</a>
	<a href="{{ url('service_marketplace_web_shop_product_buy', {'id': product.id}) }}" class="btn btn-app btn-yellow btn-xs">
		<i class="ace-icon fa fa-shopping-cart bigger-160"></i>
		Buy
	</a>
</div>