{% extends "ServiceMarketplaceWebBundle::layout.html.twig" %}

{% block content %}
	<div class="container">
		<!-- left, vertical navbar & content -->
		<div class="row">
			<!-- content -->
			<div class="col-md-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="page-header">
							<h1>Marketplace</h1>
						</div>
					</div>
				</div>
				{% include 'ServiceMarketplaceWebBundle::flash.html.twig' with {
				'close': true } %}
				<div class="row">
					<div class="col-lg-12">
						<div class="page-header">
							<h1>{{ product.name }}</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<a href="{{ url('service_marketplace_web_shop_product_buy', {'id': product.id}) }}" class="btn btn-danger btn-sm">Buy</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}