{% extends "ServiceMarketplaceWebBundle::layout.html.twig" %}


{% block title_page %}
    {{ 'marketplace.frontend.menu.solution'|trans }}
    <small>
    	<i class="ace-icon fa fa-angle-double-right"></i>
    	overview
    </small>
{% endblock %}

{% block content %}
{% include 'ServiceMarketplaceWebBundle::flash.html.twig' with {'close': true } %}
<div class="row">
	<div class="col-xs-12">
		<table id="sample-table-1" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th class="center">
						<label class="position-relative">
							<input type="checkbox" class="ace" />
							<span class="lbl"></span>
						</label>
					</th>
					<th>Product</th>
					<th>Description</th>
					<th class="hidden-480">End Time</th>
					<th class="hidden-480">Status</th>

					<th></th>
				</tr>
			</thead>

			<tbody>
			    {% for item in items %}
				<tr>
					<td class="center">
						<label class="position-relative">
							<input type="checkbox" class="ace" />
							<span class="lbl"></span>
						</label>
					</td>

					<td>
						<a href="#">{{ item.name }}</a>
					</td>
					<td>{{ item.product.description }}</td>
					<td class="hidden-480">
						{{ item.contract.endTime|date("d/m/Y") }}
					</td>
					<td class="hidden-480">
						<span class="label label-sm label-warning">{{ item.status }}</span>
					</td>

					<td>
						<div class="hidden-sm hidden-xs btn-group">
							<a href="{{ url('service_marketplace_web_solution_item_config', {'id': item.id}) }}" class="btn btn-xs btn-info">
								<i class="ace-icon fa fa-pencil bigger-120"></i>
							</a>
							
                            <a href="{{ url('service_marketplace_web_solution_item_process', {'id': item.id}) }}" class="btn btn-xs btn-success">
								<i class="ace-icon fa fa-check bigger-120"></i>
							</a>
						</div>

						<div class="hidden-md hidden-lg">
							<div class="inline position-relative">
								<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
									<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
								</button>

								<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
									<li>
										<a href="{{ url('service_marketplace_web_solution_item_config', {'id': item.id}) }}" class="tooltip-info" data-rel="tooltip" title="View">
											<span class="blue">
												<i class="ace-icon fa fa-search-plus bigger-120"></i>
											</span>
										</a>
									</li>

									<li>
										<a href="{{ url('service_marketplace_web_solution_item_process', {'id': item.id}) }}" class="tooltip-success" data-rel="tooltip" title="Edit">
											<span class="green">
												<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
											</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			
			</tbody>
		</table>
	</div><!-- /.span -->
</div><!-- /.row -->
{% endblock %}