{% extends "ServiceMarketplaceWebBundle::layout.html.twig" %}

{% block content %}
	<div class="container">
		<!-- left, vertical navbar & content -->
		<div class="row">
			<!-- content -->
			<div class="col-md-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="page-header">
							<h1>Config</h1>
						</div>
					</div>
				</div>
				{% include 'ServiceMarketplaceWebBundle::flash.html.twig' with {
				'close': true } %}
				<div class="row">
					<div class="col-lg-12">
						<div class="page-header">
						</div>
					</div>
				</div>
				<div class="row">	
				{{ form_start(form) }}
                    {{ form_errors(form) }}
                
                    {{ form_row(form.fields) }}
                {{ form_end(form) }}
				</div>

			</div>
		</div>
	</div>
{% endblock %}