{% extends "ServiceMarketplaceWebBundle::layout.html.twig" %}

{% block title_page %}
    Credit
    <small>
    	<i class="ace-icon fa fa-angle-double-right"></i>
    	{{ 'marketplace.frontend.credit.buy' | trans }}
    </small>
{% endblock %}

{% block content %}


{% include 'ServiceMarketplaceWebBundle::flash.html.twig' with {'close': true } %}
<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<!-- #section:pages/invoice -->
		<div class="widget-box transparent">
			<div class="widget-header widget-header-large">
				<h3 class="widget-title grey lighter">
					<i class="ace-icon fa fa-leaf green"></i>
					Customer Order
				</h3>

				<!-- #section:pages/invoice.info -->
				<div class="widget-toolbar no-border invoice-info">

					<span class="invoice-info-label">Date:</span>
					<span class="blue">{{ "now"|date("d/m/Y") }}</span>
				</div>

				<!-- /section:pages/invoice.info -->
			</div>

			<div class="widget-body">
				<div class="widget-main padding-24">
					<div class="space"></div>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                                
					<div>
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th class="center">#</th>
									<th>Product</th>
									<th>Quantity</th>
									<th class="hidden-xs">Description</th>
									<th class="hidden-480">Unit price</th>
									<th>Total</th>
								</tr>
							</thead>

							<tbody>
							
								<tr>
									<td class="center">1</td>
									<td>PetiNuage credit</td>
                                    <td id="quantity_credit" class="center">{{ form_row(form.amount) }}</td>
									<td class="hidden-xs">
										
									</td>
									<td class="hidden-480"> 1€ </td>
									<td id="price_credit">0€</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="hr hr8 hr-double hr-dotted"></div>

					<div class="row">
						<div class="col-sm-5 pull-right">
							<div class="row">
    							<h4 class="pull-right">
    								Total amount :
    								<span id="final_price" class="red">0€</span>
    							</h4>
							</div>
							<div class="row">
							     <input class="pull-right" type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
						    </div>
					    </div>
						<div class="col-sm-7 pull-left"> Conditions</div>
					</div>
                    {{ form_end(form) }}
			        <div class="space-6"></div>
					
				</div>
			</div>
		</div>

		<!-- /section:pages/invoice -->
	</div>
</div>

<script type="text/javascript">
    var elem = document.getElementById("form_amount");
    elem.value = 10;
	document.getElementById("price_credit").innerHTML = elem.value + ' €';
	document.getElementById("final_price").innerHTML = elem.value + ' €';
    
    elem.oninput = function() {
    	document.getElementById("price_credit").innerHTML = elem.value + ' €';
    	document.getElementById("final_price").innerHTML = elem.value + ' €';
    };

</script>


{% endblock %}