{% extends "ServiceMarketplaceWebBundle::layout.html.twig" %}

{% block content %}
	<div class="container">
		<!-- left, vertical navbar & content -->
		<div class="row">
			<!-- content -->
			<div class="col-md-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="page-header">
							<h1>{{ 'marketplace.frontend.credit.buy' | trans }}</h1>
						</div>
					</div>
				</div>
				{% include 'ServiceMarketplaceWebBundle::flash.html.twig' with {
				'close': true } %}
				<div class="row">
				    <div class="col-lg-5">


				    </div>
				</div>
			</div>
		</div>
	</div>

<div class="space-6"></div>
<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<!-- #section:pages/invoice -->
		<div class="widget-box transparent">
			<div class="widget-header widget-header-large">
				<h3 class="widget-title grey lighter">
					<i class="ace-icon fa fa-leaf green"></i>
					Customer Invoice
				</h3>

				<!-- #section:pages/invoice.info -->
				<div class="widget-toolbar no-border invoice-info">
					<span class="invoice-info-label">Invoice:</span>
					<span class="red">#121212</span>

					<br />
					<span class="invoice-info-label">Date:</span>
					<span class="blue">04/04/2014</span>
				</div>

				<div class="widget-toolbar hidden-480">
					<a href="#">
						<i class="ace-icon fa fa-print"></i>
					</a>
				</div>

				<!-- /section:pages/invoice.info -->
				</div>

				<div class="widget-body">
					<div class="widget-main padding-24">
						<div class="row">
							<div class="col-sm-6">
								<div class="row">
									<div class="col-xs-11 label label-lg label-info arrowed-in arrowed-right">
										<b>Company Info</b>
									</div>
								</div>

								<div class="row">
									<ul class="list-unstyled spaced">
										<li>
											<i class="ace-icon fa fa-caret-right blue"></i>Street, City
										</li>

										<li>
											<i class="ace-icon fa fa-caret-right blue"></i>Zip Code
										</li>

										<li>
											<i class="ace-icon fa fa-caret-right blue"></i>State, Country
										</li>

										<li>
											<i class="ace-icon fa fa-caret-right blue"></i>Phone:
											<b class="red">111-111-111</b>
										</li>

										<li class="divider"></li>

										<li>
											<i class="ace-icon fa fa-caret-right blue"></i>
											Paymant Info
										</li>
									</ul>
								</div>
							</div><!-- /.col -->

						<div class="col-sm-6">
							<div class="row">
								<div class="col-xs-11 label label-lg label-success arrowed-in arrowed-right">
									<b>Customer Info</b>
								</div>
							</div>

							<div>
								<ul class="list-unstyled  spaced">
									<li>
										<i class="ace-icon fa fa-caret-right green"></i>Street, City
									</li>

									<li>
										<i class="ace-icon fa fa-caret-right green"></i>Zip Code
									</li>

									<li>
										<i class="ace-icon fa fa-caret-right green"></i>State, Country
									</li>

									<li class="divider"></li>

									<li>
										<i class="ace-icon fa fa-caret-right green"></i>
										Contact Info
									</li>
								</ul>
							</div>
						</div><!-- /.col -->
					</div><!-- /.row -->

					<div class="space"></div>
                            
					<div>
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th class="center">#</th>
									<th>Product</th>
									<th>Quantity</th>
									<th class="hidden-xs">Description</th>
									<th class="hidden-480">Unit price</th>
									<th>Total</th>
								</tr>
							</thead>

							<tbody>
							
								<tr>
									<td class="center">1</td>
									<td>PetiNuage credit</td>
                                    <td id="quantity_credit" class="center"></td>
									<td class="hidden-xs">
										
									</td>
									<td class="hidden-480"> 1€ </td>
									<td id="price_credit">0€</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="hr hr8 hr-double hr-dotted"></div>

					<div class="row">
						<div class="col-sm-5 pull-right">
							<div class="row">
    							<h4 class="pull-right">
    								Total amount :
    								<span id="final_price" class="red">0€</span>
    							</h4>
							</div>
							<div class="row">
							     <input class="pull-right" type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
						    </div>
					    </div>
						<div class="col-sm-7 pull-left"> Conditions</div>
					</div>
					<div class="space-6"></div>
				</div>
			</div>
		</div>

		<!-- /section:pages/invoice -->
	</div>
</div>

<script type="text/javascript">
    var elem = document.getElementById("form_amount");
    elem.oninput = function() {
    	document.getElementById("price_credit").innerHTML = elem.value + ' €';
    	document.getElementById("final_price").innerHTML = elem.value + ' €';
    };

</script>


{% endblock %}