
<a data-toggle="dropdown" class="dropdown-toggle" href="#">
	<i class="ace-icon fa fa-money"></i>
	<span class="badge badge-yellow">{{ app.user.credit }}</span>
</a>

<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
	<li class="dropdown-header">
		<i class="ace-icon fa fa-check"></i>
		{{ app.user.credit }} Credits
	</li>

	<li>
        <a href="{{ url('service_marketplace_credit_payment') }}">
			Buy more <i class="ace-icon fa fa-shopping-cart"></i>
		</a>
	</li>

	<li class="dropdown-footer">
		<a href="#">
			See all invoices
			<i class="ace-icon fa fa-arrow-right"></i>
		</a>
	</li>
</ul>